# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
*.env
###/Users/moyinbaby/Downloads/Dev & Config/gcpserviceacccountcreds.json


# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Data files (don't commit raw data)
data/
*.csv
*.parquet
*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Credentials (NEVER commit these!)
*.json
!dbt/profiles.yml.example

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Logs
*.log

# Streamlit secrets (NEVER commit!)
.streamlit/secrets.toml
